@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

*{
  font-family: Outfit;
}

.font-playfair{
  font-family: Playfair !important;
}

@layer utilities {
  @keyframes shrink {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }

  .animate-shrink {
    animation: shrink 4s linear forwards;
  }
}